# TODO - probably want to whittle these down as much as possible
numpy>=1.17.2
librosa>=0.8.0
torch>=1.4.0
matplotlib>= 3.4.1
sacred>= 0.8.2
mir_eval>=0.6
jams>=0.3.4
mido>=1.2.9
requests>=2.25.1
tqdm>=4.59.0
tensorboardX>=2.1
scipy>=1.6.2
pandas>=1.2.3
mirdata>=0.3.2
# TODO - extras - examples?
# TODO - extras - streaming?
# TODO - pyaudio
# TODO - sounddevice
# TODO - sudo apt-get install tensorboard, libportaudio2
