librosa>=0.8.0
matplotlib>= 3.4.1
numpy>=1.20.2
torch>=1.8.1
sacred>= 0.8.2
mir_eval>=0.6
jams>=0.3.4
mido>=1.2.9
requests>=2.25.1
tqdm>=4.59.0
tensorboardX>=2.1
scipy>=1.6.2
pandas>=1.2.3
mirdata>=0.3.2
git+https://github.com/cwitkowitz/LHVQT.git
